/* controller-details.component.scss */
.controller-details {
  background-color: #f4f4f5;
  padding: 16px;

  h2 {
    margin-bottom: 16px;
    font-size: 18px;
    color: #333;
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 16px;
    color: #666;
    text-transform: uppercase;
    font-weight: 500;
  }
}
