<div>
  <h2>{{ controller?.name }}</h2>
  <p>Status: {{ controller?.status }}</p>
  <p>Memory: {{ controller?.freeMemory }}</p>
  <p>IP: {{ controller?.wifiip }}</p>
  <button (click)="upload()">Upload to controller</button>
  <button (click)="test()">Test</button>
  <h3>Outputs</h3>
  <div *ngFor="let output of controller?.outputs">
<!--    <app-output-card [output]="output" ></app-output-card>-->
    <app-output-card [output]="output" [mac]="controller?.mac"></app-output-card>
  </div>
  <h3>Inputs</h3>
  <div *ngFor="let input of findInputs(controller?.inputs)">
    <app-input-card [input]="input" [mac]="controller?.mac"></app-input-card>
  </div>
  <h3>Buttons</h3>
  <div *ngFor="let input of findButtons(controller?.inputs)">
    <app-button-card [input]="input" [mac]="controller?.mac"></app-button-card>
  </div>
</div>
