<div class="input-edit-container">
  <div class="header">
    <button class="back-button" (click)="back()">
      <img src="assets/icons/arrow-back.svg" width="24" height="24" alt="Back" />
    </button>
    <h2>Input Configuration</h2>
  </div>

  <div class="input-edit-form">
    <div class="basic-settings">
      <div class="form-group">
        <label for="name">Input Name</label>
        <input id="name" type="text" [(ngModel)]="input.name" placeholder="Enter input name" />
      </div>

      <div *ngIf="!input.isBtn" class="form-group">
        <label for="type">Input Type</label>
        <select id="type" [(ngModel)]="input.type" (change)="updateEvents()">
          <option value="BTN">Button</option>
          <option value="SW">Switch</option>
          <option value="INVSW">Toggle Switch</option>
        </select>
      </div>
    </div>

    <h3>Events</h3>

    <div class="events-container">
      <div *ngFor="let event of input.events; let i = index" class="event-card">
        <div class="event-header">
          <h4>Event: {{ event.event }}</h4>
        </div>

        <div class="actions-container">
          <div *ngFor="let action of event.actions; let j = index" 
               class="action-card"
               [class.deleting]="isDeleting(i, j)"
               [class.adding]="isAdding(i, j)"
               [class.swapping]="isSwapping(i, j)"
               [class.swap-up]="getSwapDirection(i, j) === 'up'"
               [class.swap-down]="getSwapDirection(i, j) === 'down'">
            <div class="action-header">
              <div class="action-controls-left">
                <button class="order-button" 
                        (click)="moveActionUp(i, j)" 
                        [disabled]="!canMoveUp(i, j)"
                        title="Move up">
                  <img src="assets/icons/arrow-up.svg" width="16" height="16" alt="Up" />
                </button>
                <button class="order-button" 
                        (click)="moveActionDown(i, j)" 
                        [disabled]="!canMoveDown(i, j)"
                        title="Move down">
                  <img src="assets/icons/arrow-down.svg" width="16" height="16" alt="Down" />
                </button>
              </div>
              <button class="remove-button" (click)="removeAction(i, j)" title="Remove action">
                <img src="assets/icons/close.svg" width="20" height="20" alt="Remove" />
              </button>
            </div>
            <div class="action-grid">
              <div class="form-group">
                <label>Output</label>
                <select [(ngModel)]="action.outputID" (ngModelChange)="onOutputChange(action)">
                  <option *ngFor="let output of outputs" [ngValue]="output.outputID">
                    {{ output.name }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label>Action</label>
                <select [(ngModel)]="action.action" [disabled]="input.type === 'INVSW'">
                  <option value="on" *ngIf="input.type !== 'INVSW'">On</option>
                  <option value="off" *ngIf="input.type !== 'INVSW'">Off</option>
                  <option value="toggle">Toggle</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <button class="add-button" (click)="addAction(i)">
          <img src="assets/icons/plus.svg" width="20" height="20" alt="Add" />
          Add Action
        </button>
      </div>
    </div>

    <div class="form-actions">
      <button class="save-button" (click)="save()">Save Changes</button>
    </div>
  </div>
</div>
