.button-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--bg-secondary);
  box-shadow: 0 2px 4px var(--shadow-color);
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--shadow-color-hover);
  }

  span {
    font-weight: 500;
    color: var(--text-color);
  }

  .settings-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

    &:hover {
      background-color: var(--hover-color);
      color: var(--text-color);
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  .ios-button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #4caf50, #81c784);
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
  .ios-button:active {
    background: linear-gradient(135deg, #388e3c, #66bb6a);
    transform: scale(0.97);
  }
  
  .ios-button.off {
    background: linear-gradient(135deg, #e57373, #ef9a9a);
  }
  
  .ios-button.off:active {
    background: linear-gradient(135deg, #c62828, #e57373);
  }
}
